<%- include('./partials/header') %>
    <div>
        <% bookings.forEach(function(booking) { %>

        <p>User-ID: <a href="/bookings/<%= booking._id %>"><%= booking._id %></a></p>
        <p>From: <%= booking.from %></p>
        <p>To: <%= booking.to %></p>
        <p>Adults: <%= booking.adults %></p>
        <p>Children: <%= booking.children %></p>
        <p>Rooms: <%= booking.rooms %></p>
        <p>Room: <%= booking.roomtype %></p>

        <% }); %>
    </div>
<%- include('./partials/footer') %>